
<div class="bg-container">
  <table id="users-datatable" style="margin: 3rem auto;" data-source="<%= user_list_path(format: :json) %>">
    <thead>
      <tr>
        <th>ID</th>
        <th>Phone</th>
        <th>First Name</th>
        <th>Gender</th>
        <th>Verified</th>
        <th>City</th>
        <th>State</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Age</th>
        <th>Occupation</th>
        <th>Sign Up Date</th>
        <th>Premium</th>
      </tr>
    </thead>

    <tbody>
      <% @data.each do |user|  %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.phone %></td>
          <td><%= user.first_name %></td>
          <td><%= user.gender %></td>
          <td><%= user.verified %></td>
          <td><%= user.display_city %></td>
          <td><%= user.display_state %></td>
          <td><%= user.latlong.try(:lat) %></td>
          <td><%= user.latlong.try(:long) %></td>
          <td><%= user.age %></td>
          <td><%= user.occupation %></td>
          <td><%= user.created_at %></td>
          <td><%= user.premium %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>