<nav class="navbar senpai-nav" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: 'navbar-item' do %>
      <%= image_tag 'transparent-s-logo.png',  class: 'logo-img' %>
    <% end %>

    <div class="link-list">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Users
        </a>

        <div style="z-index: 999" class="navbar-dropdown">
          <%= link_to user_list_path, class: 'navbar-item' do %>
            View All
          <% end %>

          <%= link_to user_map_path, class: "navbar-item"  do %>
            View Map
          <% end %>

          <%= link_to user_demographics_path, class: 'navbar-item' do %>
            Demographics
          <% end %>
        </div>
      </div>
      <a class="navbar-item" href="#o">
        <%= link_to verify_requests_path, class: 'navbar-item' do %>
          Verify Requests
        <% end %>
      </a>
      <a class="navbar-item" href="<%= reports_path %>">
        Chat Reports
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Influencer Marketing
        </a>

        <div style="z-index: 999" class="navbar-dropdown">
          <a class="navbar-item">
            Digital Track
          </a>
          <a class="navbar-item">
            Physical Track
          </a>
        </div>
      </div>
    </div>


    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>


  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-primary">
          <strong>Log in</strong>>
        </a>
      </div>
    </div>
  </div>
</nav>